---
layout: default
---

<div class="posts">

  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      <h6><font color="darkGray">{{ post.date | date_to_string }}</font></h6>

      		{% if post.content contains '<!--more-->' %}
      			{{ post.content | split:'<!--more-->' | first }}
      		{% else %}
      			<!-- Case for when no excerpt is defined -->
      		{% endif %}

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">READ MORE</a>
    </article>

  {% endfor %}
</div>
